{% extends 'layout.html.twig' %}

{% block title %}Product index
{% endblock %}

{% block body %}
	<h1 class="text-center my-5">Product index</h1>
	<div class="container min-vh-100">
		<table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th>Description</th>
					<th>Picture</th>
					<th>actions</th>
				</tr>
			</thead>
			<tbody>
				{% for product in products %}
					<tr>
						<td>{{ product.id }}</td>
						<td>{{ product.name }}</td>
						<td>{{ product.description }}</td>
						<td>{{ product.picture }}</td>
						<td>
							<button class="btn btn-primary m-2">
								<a class="text-light" href="{{ path('product_show', {'id': product.id}) }}">show</a>
							</button>
							<button class="btn btn-primary m-2">
								<a class="text-light" href="{{ path('product_edit', {'id': product.id}) }}">edit</a>
							</button>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="5">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<button class="btn btn-primary">
			<a class="text-light" href="{{ path('product_new') }}">Create new</a>
		</button>
		<button class="btn btn-primary">
			<a class="text-light" href="{{ path('admin') }}">Retour a l'admin</a>
		</button>
	</div>
{% endblock %}
